<h1>Dashbored</h1>
<br>
<h2>Device Usage</h2>
<table class="table table-striped table-bordered">
<thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Total</th>
    <th scope="col">Assigned</th>
    <th scope="col">Available</th>
  </tr>
</thead>
<tbody>
  <% @catigories.each do |catigory| %>
    <tr>
      <td><%= catigory.name %></td>
      <td><%= catigory.devices.count %></td>
      <td><%= catigory.devices.where.not({ :employee_id => nil }).count %></td>
      <td><%= catigory.devices.where({ :employee_id => nil }).count %></td>
    </tr>
  <% end %>
</tbody>
</table>
<br>
<h2>Software Compliance</h2>
<table class="table table-striped table-bordered">
<thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">License Count</th>
    <th scope="col">Employee Count</th>
    <th scope="col">Compliant?</th>
  </tr>
</thead>
<tbody>
  <% @softwares.each do |soft| %>
    <tr>
      <td><%= soft.name %></td>
      <td><%= soft.License_count %></td>
      <td><%= soft.employees.count %></td>
      <td><%= soft.compliant? %></td>
    </tr>
  <% end %>
</tbody>
</table>
